body {
    font-family: sans-serif;
    text-align: center;
}

p {
    font-family: papyrus;
    color: white;
    background-color: black
}

p a{
    color: #FF9E42
}

ul {
    font-family: papyrus;
    color: white;
    background-color: black
}
